/* Reset format */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.container {
  width: 200rem;
  margin: auto;
  border: 0.25rem solid;
  border-radius: 25px;
  border-color: rgba(233, 228, 228, 0.227);
  overflow: hidden;
  /* background-color: aqua; */
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

ul,
ol {
  margin-left: 20px;
}

li:last-child {
  margin-bottom: 10px;
}

.name {
  font-size: 3rem;
  color: black;
  position: relative;
  margin-bottom: 4rem;
}

.contact-info {
  font-size: 2rem;
  justify-self: end;
}

.banner-img {
  border-radius: 20px 20px 0px 0px;
}

.profile-img {
  /* border-radius: 50%; */
  height: 60rem;
  width: 60rem;
  border-radius: 50%;
}

.profile-img-box {
  position: relative; /* Trick for overlapped position*/
  /* border-radius: 50%; */
  height: 60rem;
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30rem;
  margin-left: 10rem;
  z-index: 0;
}

.profile-img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 105%;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%); /* Move square to the center */
  z-index: -1;
}

.title {
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  margin: 15px 0;
}

.summary-content {
  width: 1000px;
}

.work-title {
  margin-bottom: 10px;
}

.skill-categories {
  flex-direction: column;
  margin: 0 auto;
}

.skill-category {
  display: grid;
  grid-template-columns: max-content 1fr; /* Two columns: one for the title and one for the content */
  gap: 10px; /* Space between the columns */
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
  margin-right: 1em;
}

dd {
  margin: 0;
}

a:link {
  color: black;
  font-style: italic;
  text-decoration: none;
}

a:visited {
  color: rgb(60, 12, 202);
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.more-info:link,
.more-info:visited {
  font-weight: bold;
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: underline;
}

.horizontal-line {
  margin-bottom: 10px;
}

.outcome {
  margin-bottom: 10px;
}
